.category-title {
    font-size: 26px;
    text-align: center;
}

.number-of-items {
    text-align: center;
}

.bar {
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    position: relative;
}

.top-page-number, .bottom-showing-items {
    display: none;
}

.sidenote, .top-bar  {
    display: none;
}

.item-count {
    display: block;
    text-align: center;
    line-height: 1;
}

.category-description {
    line-height: 1.25;
}

.product-item {
    border-bottom: solid 3px rgb(245, 245, 245);
    padding: 20px 0;
    position: relative;
    text-align: center;
    margin: auto;
}

.product-image {
    max-width: 100%;
}

@supports (display: flex) {

    .page-count {
        width: 100%;
        order: 1;
        margin-top: 15px;
    }
}

.page-count {
    padding-left: 25px;
    /* margin is not working on this element for some reason */
    padding-right: 20px;
}



.price {
    font-family: 'bitter', sans-serif;
    font-weight: bold;
    font-size: 23px;
}

.hire-for-only {
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 15px;
    letter-spacing: .5px;
}

.variations-available {
    margin-top: 10px;
    display: block;
}

.color-logo, .size-logo {
    height: 40px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 10px;
}

.item-description {
    margin: 0;
    line-height: 1.15;
}

.price-container {
    margin: 0;
    font-size: 15px;
    font-weight: 600;
}

.item-title {
    margin-bottom: 5px;
    margin-top: 0;
    font-size: 21px;
}

.blog-banner {
    display: none;
}


/* MEDIA QUERIES  */

@media (min-width: 767px) {

    .top-page-number, .bottom-showing-items, .showing-items {
        display: inline-block;
    }

    .page-number, .top-page-number {
        position: absolute;
        right: 0;
        top: 0;
    }

    .sidenote {
        display: block;
    }

    .sort-container {
        margin-bottom: 0;
    }

    .bar {
        margin-top: 40px;
    }

    body .bottom {
        margin-top: 15px;
    }

    .item-count {
        line-height: 50px;
        order: -1;
        text-align: left;
        display: inline-block;
    }

    .category-title {
        font-size: 31px;
    }

    .bar, .category-title, .number-of-items {
        text-align: left;
    }

    .page-count {
        width: auto;
        margin-top: 0;
        order: 0;
    }

    .category-description, .category-title {
        max-width: 450px;
    }
    .top-of-page {
        position: relative;
    }
    .sidenote {
        position: absolute;
        right: 0;
        top: 7px;
        max-width: 240px;
        background-color: #E5ECF5;
        border-left: solid 8px #164E8C;
        border-radius: 7px;
        padding: 15px 0;
        text-align: center;
    }

    .sidenote a {
        line-height: 1;
    }

    .sidenote>h2 {
        color: #4c4c4c;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .sidenote>* {
        margin: 0;
    }
    .product-item:before {
        content: "";
        position: absolute;
        top: 5%;
        left: 0;
        height: 90%;
        width: 3px;
        background-color: rgb(245, 245, 245);
    }
    .product-item {
        text-align: left;
        vertical-align: top;
        padding: 20px 30px;
    }

    .blog-banner {
        display: block;
        background-image: url('../images-static/blog-banner.jpg');
        margin: auto;
        min-height: 100px;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .banner-inner {
        width: 55%;
        position: absolute;
        right: 30px;
        text-align: center;
        top: 50%;
        transform: translateY(-50%);
    }
    .banner-text {
        margin: 0;
        font-size: 15px;
    }
    .banner-title {
        font-weight: normal;
        margin-top: 0;
        margin-bottom: 2px;
        font-size: 23px;
        color: black;
    }
    .banner-link {
        width: fit-content;
    }

    /* FALLBACK LAYOUT GOES FIRST! */
    .grid {
        display: inline-block;
        font-size: 0;
    }
    .product-item {
        width: 32%;
        display: inline-block;
        min-height: 615.51px
    }
    /* END OF FALLBACK CODE @ 767px */
    @supports (display: grid) {
        .grid {
            display: inline-grid;
            grid-template-columns: repeat(3, 1fr);
        }
        .product-item {
            width: 100%;
            height: 100%;
            min-height: initial;
        }
    }
}

@media (min-width: 767px) and (max-width: 1200px) {
    .product-item:nth-child(3n+1):nth-last-child(-n+3),
    .product-item:nth-child(3n+1):nth-last-child(-n+3)~.product-item {
        border-bottom: none;
    }

    .product-item:nth-child(3n+1):before {
        display: none;
    }

}

@media (min-width: 1200px) {
    /* FALLBACK LAYOUT GOES FIRST! */
    .product-item {
        width: 24%;
    }
    /* END OF FALLBACK CODE @ 1200px*/


    .product-item:nth-child(4n+1):before {
        display: none;
    }

    .product-item:nth-child(4n+1):nth-last-child(-n+4),
    .product-item:nth-child(4n+1):nth-last-child(-n+4)~.product-item {
        border-bottom: none;
    }

    .blog-banner {
        width: 75%;
    }

    .sidenote {
        bottom: 0;
        top: initial;
        max-width: initial;
        padding-left: 30px;
        padding-right: 30px;
    }
    .category-description {
        max-width: 50%;
    }

    .category-title {
        max-width: 100%;
    }

    @supports (display: grid) {
        .grid {
            grid-template-columns: repeat(4, 1fr);
        }
        .product-item {
            width: 100%;
        }
    }
}