.product-item {
    border-bottom: solid 3px rgb(245, 245, 245);
    padding: 20px 30px;
    position: relative;
    text-align: center;
    margin: auto;
}

.product-image {
    max-width: 100%;
}

@media (min-width: 767px) {
    .product-item:before {
    content: "";
    position: absolute;
    top: 5%;
    left: 0;
    height: 90%;
    width: 3px;
    background-color: rgb(245, 245, 245);
}

.product-item {
    text-align: left;
}

    .category-description {
   max-width: 700px;
    }

/* FALLBACK LAYOUT GOES FIRST! */
.product-item {
        width: 32%;
    display: inline-block;
}
/* END OF FALLBACK CODE @ 767px */

    @supports (display: grid) {
        .grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }

.product-item {
        width: 100%;
}

    }
}

@media (min-width: 1200px) {

/* FALLBACK LAYOUT GOES FIRST! */
.product-item {
        width: 24%;
}
/* END OF FALLBACK CODE @ 1200px*/

    .category-description {
   max-width: 50%;
    }

    @supports (display: grid) {
        .grid { grid-template-columns: repeat(4, 1fr);}
        .product-item { width: 100%; }
}
}