
.red-focus:focus {
    outline: none;
    box-shadow: red 0 0 4px;
}

.success-popup {
    position: fixed;
   display: none;
left: 0;
right: 0;
top: 0;
text-align: center;
padding: 10px 20px 25px 20px;
 transform: translateY(100%);
opacity: 0;
margin: auto;
background-color: white;
width: fit-content;
max-width: 720px;
border-radius: 17px;
border: solid 7px #3B70A3;
z-index: 100;
transition: opacity .1s, transform .25s;
transition-timing-function: ease-in-out;
will-change: transform; 
}

.success-popup button {
    width: 130px;
    color: white;
    background-color: rgb(14, 77, 141);
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
    margin-top: 10px;
}

.success-popup button:hover {
    background-color: rgb(24, 97, 191);
}

.success-heading {
    color: rgb(87, 177, 80);
    font-family: 'bitter', sans-serif;
    font-weight: 400;
}

.success-heading:after {
    content: url(images-static/small-tick.svg);
    height: 1em;
    width: 1em;
   padding-left: 8px;
    display: inline-block;
    position: relative;
    top: 1px;
}

.success-open {
     opacity: 1;
 transform: scale(1) translateY(-50%);
 box-shadow: 0 0 45px 2px white;
 display: block;
}

.contact-subheading {
    margin-top: 6px; 
}

.contact-page h2 {
    margin-bottom: 0;
}

.contact-page p {
    margin-top: 8px;
    margin-bottom: 30px;
}

p.telephone {
    margin-bottom: 0;
}

.send-message-form {
    position: relative;
    margin-top: 20px;
}

.send-message-form input, .send-message-form textarea, [id="send-message-form-button"] {
    display: block;
    width: 100%;
    margin-bottom: 23px;
    margin-top: 6px;   
}

.send-message-form label {
    display: inline-block;
}


[id="send-message-form-button"]:hover {
    background-color: rgb(24, 97, 191)
}

[id="send-message-form-button"] {
    background-color: rgb(14, 77, 141);
    color: white;
    letter-spacing: 1px;
    display: block;
      padding-top: 10px;
      padding-bottom: 10px;
      font-weight: 700;
}

label[for="name"], label[for="email"] {
    align-self: center;
}


[id^="no"] {
    color: rgb(254, 59, 56);
    position: absolute;
    right: 0;
    visibility: hidden;
}

@media (min-width: 768px) {

form {
    max-width: 350px;
}

.popup {
    padding: 20px 50px 40px 50px;
}
  @supports (display: grid) {

form {
    max-width: none;
}

        .send-message-form {
    display: grid;
    grid-template-columns: auto 350px 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 18px;
    grid-auto-flow: dense;
}

.send-message-form input, .send-message-form textarea, [id="send-message-form-button"] {
    margin-bottom: 0;
    margin-top: 0;   
}

label[for="message"] {
    padding-top: 10px;
}

.send-message-form label {
 grid-column: 1;
}

.send-message-form input, .send-message-form textarea {
    grid-column: 2;
    align-self: center;
}

[id^="no"] {
    align-self: center;
    position: static;
    grid-column: 3;
}

.send-message-form button {
    grid-column: 2;
}
   }
}

@media(min-width: 1200px) {
    .right {
        float: right;
        width: 54%;
    }
    .left {
        width: 40%;
        float: left;
    }

    form {
    max-width: none;
}

}


