

.new-concept-heading-container {
    font-family: 'Bitter', serif;;
}

.new-concept-heading-container p {
    letter-spacing: 1px;
    margin-bottom: 5px;
    font-size: 1rem;
}

.new-concept-heading-container h1 {
    color: rgb(14, 77, 141);
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 1.75rem;
}

.affordable-practical-flexible p {
    font-family: 'Source Sans Pro', arial, san-serif;
    font-size: 17px;
    color: rgb(101, 103, 105);
    max-width: 345px;
    margin-top: 5px;
    padding-right: 10px;
    margin-bottom: 15px;
    line-height: 1.25;
}

.affordable-practical-flexible {
    border-top: solid rgb(231, 231, 231) 2px;
    border-bottom: solid rgb(231, 231, 231) 2px;
    display: table;
}

.affordable-practical-flexible > div {
    display: table-cell;
}

@supports (display: flex) {
    .affordable-practical-flexible > div {
        display: initial;
    }
}

.affordable-practical-flexible h2 {
    font-family: 'Bitter', serif;
    font-size: 20px;
    font-weight: 400;
    color: #0e4d8d;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgb(85, 85, 85);
    padding: 0px 0px 0px 0px;
    margin-top: 10px;
    margin-bottom: 0;
}


.how-it-works p {

    font-family: 'Source Sans Pro', arial, san-serif;
    font-size: 18px;
    font-weight: 400;
    color: #545454;
}

.flex:first-child {
    margin-top: 30px;
}

.how-it-works h3 {
    padding: 60px 0px 15px 0px;
    font-family: 'Bitter', serif;
    font-size: 24px;
    font-weight: 400;
    color: #0e4d8d;
    letter-spacing: 0.25px;
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
}

.max-width {
    max-width: 590px;
}

.flex {
    margin-top: 60px;
}

.flex-image img {
    max-width: 100%;
}

.got-questions {
    clear: both;
    margin-top: 60px;
}

@media (max-width: 764px) {
    .flex-image + p {
    margin-top: 14px;
}

}

@media (min-width: 764px) {

    .max-width p:first-of-type {
        margin-top: 7px;
    }

    .new-concept-heading-container p {
        font-size: 1.25rem;
        letter-spacing: 1px;
    }

    .flex-image {
        padding-left: 35px;
    }

    .affordable-practical-flexible {
        display: flex;
        justify-content: space-between;
    }

    .affordable-practical-flexible > div{
            max-width: 28%;
        vertical-align: top;
    }
    .affordable-practical-flexible >div:last-child p {
        padding-right: 0;
    }

    .flex-image {
        margin-top: 15px;
    }

    .max-width {
        max-width: 100%;
    }

    .flex-image {
        float: right;
        width: 50%;
    }

    .how-it-works h3 {
        display: inline-block;
    }

    .max-width {
        padding-right: 0;
    }

    .how-it-works h3 {
        max-width: 45%;
    }
}

@media (min-width: 1000px) {
    .affordable-practical-flexible {
        justify-content: flex-start;
    }

    .affordable-practical-flexible p {
        padding-bottom: 0;
    }

     .affordable-practical-flexible > div {
         padding-right: 30px;
     }

    /*.flex {
        display: flex;
    }*/

    .flex-image img {
        max-height: 300px;
        object-fit: cover;
        width: 100%;
    }

    .flex-image {
       /* align-self: center;
        flex: 1; */
        margin-top: 0;
        padding-left: 60px;
    }

    .max-width {
        padding-right: 0;
       /* flex: 2; */
    }

    .buttons-container {
        margin-top: 20px;
    }

    .how-it-works p {
        overflow: hidden;
    }

}