* {
    box-sizing: border-box;
}

/*VARIABLES!*/
:root {
--light_blue: rgb(219, 228, 238);
--dark_blue: rgb(14, 77, 141);
--lessdark_blue: #3B70A3;
--light_cream: rgb(244, 240, 229);
--white_gray: rgb(244, 245, 246);
--light_gray: rgb(212, 215, 219);
--medium_gray: rgb(147, 156, 164);
--dark_gray: rgb(123, 131, 137);
--extradark_gray: rgb(61, 61, 60);
--gold: rgb(146, 121, 52);
}


.clearfix:after {
    content: "";
    display: table;
    clear: both;
}





/* REMOVE DOTTED OUTLINE ON ANY ACTIVE ELEMENT */


/*
*:active {
    outline: none;
}*/

p+p {
    margin-top: 1rem;
}

option[disabled] {
    display: none;
}


html {
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.25;
    /*text-rendering: optimizeLegibility;*/
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    font-family: inherit;
    line-height: inherit;
    color: inherit;
}

h1 {
    font-family: 'Bitter', serif;
}

.product_title h1 {
    color: black;
    font-size: 22px;
}

h1 {
    font-weight: 700;
}

h1,
h2 {
    font-size: 1.25rem;
}

button,
select {
    font-size: inherit;
}

button:hover {
    cursor: pointer;
}

img {
    object-fit: cover;
}


/* CAUTION: IE hackery ahead */

select::-ms-expand {
    display: none;
    /* remove default arrow in IE 10 and 11 */
}

label {
    margin-right: .25rem;
}


/*CONSTRAIN WIDTH */




/*BREADCRUMBS */

.breadcrumbs {
    font-size: .7rem;
    margin-bottom: 1.5rem;
}

.breadcrumbs a {
    color: var(--extradark_gray);
}

.breadcrumbs>* {
    padding-right: .25rem;
    padding-left: .25rem;
}


/*PRODUCT TITLE */

.smallprint {
    font-size: .8rem;
    margin-top: 1rem;
}

.smallprint>* {
    font-size: .8rem;
}

.product_title p {
    margin-top: 1rem;
}

.smallprint span {
    color: var(--medium_gray);
}

.manufacturer {
    margin-left: 2rem;
}


/*FEATURES*/

.features {
    margin-bottom: 2.5rem;
}

.features li {
    max-width: 600px;
    font-size: .6rem;
}

.features li span {
    font-size: 1rem;
    position: relative;
    top: 2px;
    left: 11px;
}

.features *+* {
    margin-top: .75rem;
}

.features h2 {
    font-family: 'bitter';
    font-weight: 400;
    letter-spacing: 1px;
    color: black;
}

.features ul {
    list-style-position: outside;
    margin-left: .75rem;
}


/* RENTAL PLAN */

.add-accessory {
    /*  margin-top: 1rem; */
    margin-top: 1rem;
    margin-left: 34px;
}

.checkbox_container__img {
    width: 100px;
    height: 100px;
    margin-right: 30px;
    flex-shrink: 0;
    align-self: flex-start;
}

.add-accessory {
    font-size: .82rem;
}

.accessory-flex {
    display: flex;
    align-items: center;
}

#selectrentalplan {
    min-width: fit-content;
}

.add-to-plan {
    margin-top: .75rem;
    padding: .3rem .6rem;
    background-color: var(--dark_blue);
    color: white;
    font-weight: 900;
    font-size: .7rem;
    letter-spacing: 1px;
}

.add-to-plan:hover {
    background-color: rgb(24, 97, 191);
}


/*
@keyframes pulse {
    0% {box-shadow: 0 0 0 0 rgba(255,255,255,1), 0 0 1px 0 rgba(0,184,120, 0);}
    60% {box-shadow: 0 0 1px 1px rgba(255,255,255,1), 0 0 2px 10px rgba(0,184,120, .6);}
    100% {box-shadow: 0 0 0 15px rgba(255,255,255,.5), 0 0 5px 15px rgba(0,184,120, 0);}
}*/

.accessory-popup-btn {
    background-color: transparent;
    margin: 0;
    padding: 0;
    display: block;
    color: var(--dark_blue);
    margin-bottom: .75rem;
    text-align: left;
}


/*TABBED BOX */

.tab_box {
    margin-top: 1.5rem;
}

.tabcontent {
    padding: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.tabcontent p+p {
    margin-top: 1.4rem;
}


/*ALTERNATIVES */

.alternatives {
    border: solid rgb(200, 200, 200) 1px;
    margin-top: 1rem;
    border-radius: 8px 8px 0 0;
}

.alternatives img {
    float: left;
    width: 100px;
    height: 100px;
    margin-right: 35px;
}

.alternatives h4 {
    padding-top: .75rem;
    padding-bottom: .75rem;
    letter-spacing: 1px;
    font-size: 1.15rem;
    text-align: center;
    font-weight: normal;
}

.item {
    border-top: solid 2px white;
    overflow: hidden;
    border-top: solid rgb(200, 200, 200) 1px;
}

.item {
    padding: 1.5rem;
}

.item_text {
    vertical-align: top;
}

.item_text h5 {
    font-family: 'bitter';
    max-width: 27ch;
    font-weight: 500;
}

.item_text p {
    max-width: 26ch;
    font-size: .9rem;
    line-height: 1;
    margin-top: 15px;
}

@supports (display: flow-root) {
    .item,
    .item_text {
        overflow: visible;
        display: flow-root;
    }
}


/* STYLES FOR MOBILE!! */

@media screen and (max-width: 767px) {
    .features,
    .tab_box {
        border: none;
    }
    .tabcontent {
        border-bottom: none;
    }
    .product_title,
    .item {
        padding-top: .75rem;
        padding-bottom: .75rem;
    }
}

.features,
.tab_box {
    margin-left: auto;
    margin-right: auto;
}


/* STYLES FOR DESKTOP!! */

@media screen and (min-width: 1000px) {
    /*PAGE LAYOUT */
}


/* new styles for form */

option[disabled] {
    display: none;
}

select {
    background-color: white;
    width: 150px;
    padding: 5px 35px 5px 5px;
    height: 36px;
    border: solid rgb(200, 200, 200) 1px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url(../images-static/select_icon.svg);
    background-repeat: no-repeat;
    background-position: right 0px top 2px;
}

.instrument-options__number {
    background-color: rgb(153, 153, 153);
    color: white;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: inline-block;
    line-height: 1.8;
    text-align: center;
    font-weight: 700;
    position: relative;
    top: -1px;
    font-size: .8rem;
}

.instrument-options {
    border-top: 2px solid var(--light_gray);
}

:root {
    --dark_blue: rgb(14, 77, 141);
}

.instrument-form {
    margin-top: .25rem;
    font-size: .9rem;
}

select {
    font-size: .8rem;
}

label {
    font-size: .8rem;
}

.instrument-form__btn {
    background-color: rgb(183, 202, 221);
    color: white;
    width: 100%;
    font-weight: 900;
    letter-spacing: 2px;
    font-size: 1.05rem;
    margin-top: .5rem;
}

.amend-message {
    color: rgb(117, 117, 117);
    font-size: .8rem;
    text-align: center;
    margin-top: 11px;
}

.amend-message-disabled {
    visibility: hidden;
}

.instrument-form__priceinfo {
    background-color: rgb(234, 225, 203);
    border-radius: 5px 5px 0 0;
    text-align: center;
    padding-top: .75rem;
    padding-bottom: .75rem;
    margin-top: 2rem;
    overflow: hidden;
    font-size: 1rem;
}

.error-message {
    font-size: .8rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

*:focus,
*:active {
    outline: none;
}

#selectrentalplan:focus,
#selectsize:focus {
    outline: rgb(125, 173, 217) 2px !important;
    outline-offset: -2px !important;
    box-shadow: inset 0 0 4px rgb(125, 173, 217) !important;
}

.rentalplan {
    color: rgb(153, 153, 153);
    border-top: 2px solid var(--light_gray);
}

.rentalplan select {
    display: none;
}

[id="selectrentalplan"] {
    margin-left: 34px;
}

.selectplanmessage {
    display: none;
    color: red;
    position: absolute;
    margin-left: 50px;
    margin-top: 10px;
    font-size: .8rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.accessories {
    color: rgb(153, 153, 153);
    border-bottom: 2px solid var(--light_gray);
    border-top: 2px solid var(--light_gray);
}

.instrument-options .instrument-options__number {
    background-color: black;
}

.instrument-form h3 {
    display: inline-block;
    margin: 0;
    font-size: .85rem;
    margin-left: 10px;
    letter-spacing: 1px;
    white-space: nowrap;
    font-weight: 700;
}

@media screen and (max-width: 767px) {
    .chevron {
        width: 1em;
        height: 1em;
        position: absolute;
        right: 5px;
        top: .75em;
        margin: auto;
    }
    .accessories .instrument-options__number {
        flex-grow: 0;
        flex-shrink: 0;
    }
}

body {
    position: relative;
}

.popup--accessory {
    position: fixed;
    padding: 2rem 2rem 1rem 2rem;
    top: 0;
    left: 0;
    right: 0;
    top: 50%;
    display: none;
    transform: translateY(100%);
    opacity: 0;
    margin: auto;
    background-color: white;
    width: fit-content;
    max-width: 720px;
    border-radius: 17px;
    border: solid 7px #3B70A3;
    z-index: 100;
    transition: opacity .1s, transform .25s;
    transition-timing-function: ease-in-out;
    will-change: transform;
}

.popup--accessory li {
    padding-left: 2px;
}

.popup__left {
    float: left;
    width: 240px;
    padding-right: 10px;
}

.popup__thumbnails img {
    max-width: 100px;
}

.accessory__img__container {
    border: 1px solid gray;
}

.popup__thumbnails {
    display: flex;
    margin: auto;
    justify-content: space-around;
    margin-top: 25px;
}

.popup__thumbnails div {
    flex-shrink: 1;
}

.popup__thumbnails img {
    width: 100%;
}

.popup__right {
    overflow: hidden;
    padding-left: 40px;
    max-width: 700px;
}

.popup__right p {
    margin-top: 1rem;
    font-size: .9rem;
}

.popup--accessory button,
.popup__only-extra {
    margin: auto;
    text-align: center;
    margin-top: 1rem;
    font-weight: 700;
}

.popup--accessory button {
    background-color: var(--dark_blue);
    color: white;
    letter-spacing: 1px;
    padding-left: 3rem;
    padding-right: 3rem;
    width: 70%;
    max-width: 390px;
    display: block;
    margin-bottom: 1.2rem;
    border-radius: 9px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: .9rem;
}

.popup--accessory button:hover {
    background-color: rgb(24, 97, 191);
}

.accessory__img__container img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.accessory__img__container {
    display: inline-block;
    width: 65px;
    height: 65px;
}

.accessory__main-img {
    width: 240px;
    height: 240px;
}

.accessory__main-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.popup__only-extra {
    color: var(--gold);
    font-family: 'bitter';
    margin-top: 1.7rem;
    clear: both;
}

.popup {
    position: fixed;
    display: none;
    padding: 1rem 3rem 1.75rem 2rem;
    top: 0;
    left: 0;
    right: 0;
    top: 50%;
    transform: scale(0) translateY(100%);
    margin: auto;
    background-color: white;
    width: fit-content;
    max-width: 900px;
    min-width: 40%;
    border-radius: 11px;
    border: solid 3px rgb(13, 77, 141);
    z-index: 100;
    background-image: url(../images-static/more-info-modal-window-background.jpg);
    background-size: cover;
    background-position: right;
    opacity: 0;
    transition: opacity .1s, transform .25s;
    transition-timing-function: ease-in-out;
    will-change: opacity;
}

.popup__duetlogo {
    width: 130px;
    position: absolute;
    right: 35px;
    bottom: 30px;
}

.popup li,
.popup--accessory li {
    margin-top: .75rem;
    font-size: 17px;
    font-weight: 500;
    color: rgb(50, 50, 50);
}

.popup--accessory li {
    font-size: .85rem;
}

.close-btn {
    position: absolute;
    right: -20px;
    top: -20px;
    width: 40px;
    height: 40px;
    background-color: var(--dark_blue);
    border-radius: 50%;
    cursor: pointer;
}

.popup h3 {
    color: var(--extradark_gray);
    font-size: 1.04rem;
    font-family: 'bitter';
}

.popup--accessory h3 {
    font-size: .925rem;
    color: var(--extradark_gray);
    font-family: 'bitter';
}

.popup h4 {
    color: var(--dark_blue);
    font-size: 1.35rem;
    margin-top: .5rem;
    font-family: 'bitter';
}

.popup>*:not(.close-btn) {
    margin-top: 1rem;
}

.popup--accessory ul {
    margin-left: 1rem;
    margin-top: 30px;
}

.popup li {
    transition: 1s;
    line-height: 1.2;
}

.popup ol {
    max-width: 620px;
    list-style: none;
    counter-reset: li;
    padding-left: 1rem;
    padding-right: 2.5rem;
    margin-top: 1.75rem !important;
}

.popup button {
    background-color: var(--dark_blue);
    color: white;
    padding: 8px 25px;
    margin-top: 2rem !important;
    font-weight: bold;
    letter-spacing: 1px;
}

.popup button:hover {
    background-color: rgb(24, 97, 191);
}

.popup li::before {
    content: counter(li);
    color: var(--lessdark_blue);
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    font-weight: 700;
    font-family: 'bitter';
    font-size: 1.01rem;
}

.popup li {
    counter-increment: li
}

.info-how-works {
    color: var(--dark_blue);
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    margin-left: 1.5rem;
}

.question {
    width: .9em;
    height: .9em;
    position: relative;
    top: 1px;
    fill: var(--dark_blue);
}

.info-how-works:active,
.info-how-works:focus,
.accessory-popup-btn:focus,
.accessory-popup-btn:active {
    box-shadow: none;
}

.maincontainer {
    background-color: white;
}


/*
.question {
  display: inline-block;
  background-color: var(--dark_blue);
  color: white;
  width: 1em;
    height: 1em;
  border-radius: 50%;
  text-align: center;
  margin-right: .25rem;
  font-weight: 700;
    font-size: .7rem;
}
*/


/* JAVASCRIPT CLASSES */

@media (max-width: 767px) {
    .popup,
    .popup--accessory {
        top: 0;
        bottom: 0;
        transform: none;
        overflow-y: scroll;
        background-image: none;
        width: 100%;
    }

    .popup br {
        display: none;
    }
    .popup__duetlogo {
        display: none;
    }
    .popup .close-btn,
    .popup--accessory .close-btn {
        top: 10px;
        right: 10px;
        position: fixed;
        opacity: .8;
    }
}


/* JAVASCRIPT CLASSES! */

.js-visibility-hidden {
    visibility: hidden;
}

@media (max-width: 767px) {
    .active {
        background-color: transparent !important;
        color: black !important;
        display: block;
        float: none;
        text-align: left;
    }
}

.rentalplan {
    position: relative;
}

.selectplanmessage,
.error-message {
    position: absolute;
    background-color: rgb(255, 254, 131);
    border: solid black 1px;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    color: black;
    top: -50px;
}

.error-message:after,
.error-message:before,
.selectplanmessage:before,
.selectplanmessage:after {
    top: 100%;
    left: 20%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.error-message:after,
.selectplanmessage:after {
    border-color: rgba(136, 183, 213, 0);
    border-top-color: rgb(255, 254, 131);
    border-width: 20px;
    margin-left: -20px;
}

.error-message:before,
.selectplanmessage:before {
    border-top-color: black;
    border-width: 21px;
    margin-left: -21px;
}

.instrument-options {
    position: relative;
}

@media (max-width: 767px) {
    .popup ol {
        padding-right: 0;
    }
    .popup--accessory {
        padding-left: 22px;
        padding-right: 22px;
    }
    .popup__right {
        padding-left: 0;
    }
    .popup__left {
        float: none;
    }
    .popup--accessory button {
        min-width: max-content;
    }
    .alternatives img {
        display: block;
        width: 70%;
        margin: auto;
        float: none;
        height: auto;
    }
    .item_text {
        text-align: center;
    }
    .item_text>* {
        margin: auto;
    }
}

.carousel-cell {
    width: 100%;
    /* full width */
}

img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.item_text {
    margin-bottom: 20px;
}

.main-carousel {
    margin-bottom: 50px;
}

@media (max-width: 767px) {
    .features {
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .product_title .smallprint {
        display: none;
    }
    .breadcrumbs {
        display: none;
    }
    .rentalform__select-wrapper>div {
        margin-left: 0;
    }
    .free-delivery {
        margin-top: 20px;
    }
    .free-delivery {
        margin-bottom: 20px;
    }
    .instrument-form h3 {
        font-size: 15px;
        font-weight: 900;
    }
    .add-accessory {
        border-radius: 7px;
        background-color: rgb(237, 237, 237);
    }
    #selectrentalplan {
        width: 100%;
        margin: 0;
        margin-bottom: 20px;
    }
    .checkbox_container__img {
        order: 1;
        margin-right: 0;
    }
}

.free-delivery {
    border: solid black 1px;
    padding: 10px;
    text-align: center;
}

.free-delivery h5 {
    letter-spacing: .45px;
    font-weight: normal;
    font-size: 16px;
}

.add-accessory {
    padding: 15px;
    padding-left: 0;
}

.info-how-works {
    position: absolute;
    right: 0;
}

.accessory-popup-btn {
    max-width: 300px
}

.add-accessory div {
    flex-grow: 1;
    align-self: start;
}

.minimal-btn {
    background-color: transparent;
    border: solid black 1px;
    margin: auto;
    margin-top: 40px;
    border-radius: 9px;
    padding: 15px 40px;
    display: block;
    text-align: center;
    color: black;
    width: fit-content;
}

@media(min-width: 767px) {
    .minimal-btn {
        display: none;
    }
    .free-delivery {
        text-align: left;
        border: none;
    }
}

.features .manufacturer {
    margin-left: 0;
}

@media (min-width: 767px) and (max-width: 1000px) {
    .item_text h5,
    .item_text p {
        max-width: 55ch;
    }
    .item_text {
        width: 500px;
    }
    .item {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
   
    .alternatives img {
        width: 150px;
        height: 150px;
    }
}

.checkbox_container__img {
    object-fit: contain;
}

@media (min-width: 767px) and (max-width: 1000px) {
    .features,
    .alternatives,
    .tab_box {
        grid-column: span 2;
    }
}

@media (min-width: 767px) {
    .features {
        margin-left: 0;
    }
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 20px;
        grid-auto-flow: dense;
    }
    label[for=selectsize] {
        margin-left: 34px;
    }
    .free-delivery {
        padding-left: 0;
        padding-bottom: 0;
        margin-left: 34px;
    }
}

.rentalform__select-wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
}

.rentalform__select-wrapper select {
    margin-top: 10px;
}

@media(min-width: 1000px) {
    .left {
        order: 1;
    }
    .instrument-form {
        order: 2;
    }
    .features {
        order: 3;
        grid-column: 1;
    }
    .alternatives {
        order: 4;
        grid-column: 2;
        grid-row: span 2;
        align-self: start;
    }
    .tab_box {
        order: 5;
    }
    .grid {
        grid-template-columns: 5fr 4fr;
        grid-template-rows: auto auto minmax(600px, 700px) auto;
        grid-column-gap: 60px;
    }
}

.tablinks {
    position: relative;
}

.tablinks svg {
    margin: unset;
    right: 10px;
    transition: .2s;
    transition-timing-function: ease-in-out;
}

.tabcontent {
    opacity: 0;
    max-height: 0;
    transition: opacity .1s, max-height .3s;
    padding: 0;
}

.tabcontent p:first-child {
    padding-top: 1rem;
}

.tabcontent p:last-child {
    padding-bottom: 2rem;
}

.tablinks {
    display: block;
    color: black;
    text-transform: uppercase;
    border-top: solid rgb(235, 235, 235) 2px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.tab_box {
    border-bottom: solid 2px rgb(235, 235, 235);
    width: 100%;
}

@supports (display: grid) {
    .tab_box {
        margin-top: 0;
        align-self: start;
    }
    .features {
        margin-bottom: 0;
    }
    .grid>* {
        margin-top: 0;
    }
    .grid {
        grid-row-gap: 25px;
    }
}

.instrument-form {
    align-self: start;
}

.tab_box .chevron {
    display: inline-block;
    top: 15px;
}

[id="selectrentalplan"] {
    display: none;
}

@media (max-width: 767px) {
    .alternatives,
    .tab_box {
        margin-top: 30px;
    }

    .add-accessory {
        padding-left: 15px;
    }
}

.tabcontent {
     transform: translate3d(0, 0, 0);
}
.alternatives {
    width: 100%;
}

@media (max-width: 767px) {
  #selectrentalplan {
      margin-top: 20px; 
  }
}

* {
    ‑webkit‑text‑size‑adjust: 100%;
}

li * {
    font-size: 17px !important;
}

.tabcontent p {
    font-size: 17px;
}

@media (max-width: 767px) {
    .rentalform__select-wrapper {
        padding-top: 13px;
        padding-bottom: 12px;
    }
}