* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    background-color: white;
}

small {
    font-size: 15px;
}

button svg {
    pointer-events: none;
}

option[disabled] {
    display: none;
}

select {
    background-color: white;
    width: 120px;
    padding: 5px 0px 5px 9px;
    height: 36px;
    border: solid rgb(200, 200, 200) 1px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url(../images-static/select_icon.svg);
    background-repeat: no-repeat;
    background-position: right 0px top 5px;
}


/* CAUTION: IE hackery ahead */

select::-ms-expand {
    display: none;
    /* remove default arrow in IE 10 and 11 */
}


/* suppress default touch action like double-tap zoom

a,
button {
    -ms-touch-action: none;
    touch-action: none;
}  */

a {
    text-decoration: none;
    color: rgb(14, 77, 141);
    text-decoration-skip: ink;
}

input,
textarea {
    min-height: 33px;
    border: solid rgb(200, 200, 200) 1px;
}

.faq,
.contact,
.about {
    color: rgb(51, 51, 51);
}

input:-webkit-autofill {
    background-color: none;
}

html {
    font-family: 'Source Sans Pro', arial, san-serif;
}

input,
button,
select,
blockquote,
cite {
    font-size: inherit;
    font-family: inherit;
}

input,
textarea {
    border-radius: 0;
    box-shadow: none;
}

input:not([type=checkbox]):not([type=radio]),
textarea {
    -webkit-appearance: none;
}

textarea {
    resize: none;
    font-size: 1em;
}

button:hover {
    cursor: pointer;
}

button {
    border: none;
    border-radius: 6px;
    padding: .5rem 1.25rem;
}

.wrapper {
    max-width: 1200px;
    padding-top: 0;
    margin-left: 22px;
    margin-right: 22px;
    /*
     margin: 0 auto;
    padding-left: 22px;
    padding-right: 22px; */
    box-sizing: content-box;
    background-color: white;
}

@media (min-width: 1200px) {
    .wrapper {
        margin: 0 auto;
    }
}


/*
@media (max-width: 1200px) {
.wrapper {
padding-left: 22px;
    padding-right: 22px;
}
}
*/


/* THE TOP MARGIN OF THIS ELEMENT WILL INTERFERE WITH THE BLUR FILTER SO MUST BE REMOVED*/

.wrapper> :first-child {
    margin-top: 0;
}

p,
a {
    font-size: 18px;
    line-height: 1.4;
}

h1 {
    letter-spacing: 1px;
    color: #0e4d8d;
    font-family: 'bitter', sans-serif;
    margin-bottom: 5px;
    font-size: 42px;
}

.main-subheading {
    color: rgb(77, 77, 77);
    letter-spacing: .35px;
    font-size: 20px;
}

h2 {
    font-family: 'bitter', sans-serif;
    color: #0e4d8d;
    line-height: 1.25;
    font-weight: 400;
    font-size: 22px;
}

blockquote {
    background-color: rgb(230, 237, 245);
    border-left: solid 10px rgb(13, 77, 141);
    padding: 20px;
    margin: 0;
    font-size: 18px;
}

cite {
    font-style: normal;
    font-size: 18px;
}

blockquote,
cite {
    line-height: 1.4;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.blurfilter {
    filter: brightness(30%) /*blur(2px) */;
}

ul,
li {
    margin: 0;
    padding: 0;
}

@media (min-width: 768px) {
    a[href^="tel"] {
        color: inherit;
        cursor: default;
        pointer-events: none;
    }
}


/* STYLES FOR IE 8 */



input,
textarea,
button {
    max-width: 768px;
}

.sidenote {
    display: none;
}

.pagination button {
    background-color: #E5ECF5;
    height: 40px;
    width: 40px;
    border-radius: 4px;
    position: relative;
}

.pagination button:disabled {
    background-color: #F0F0F0;
}

.pagination button:hover {
    background-color: rgb(195, 210, 226);
}

.pagination button:disabled:hover {
    background-color: #F0F0F0;
}

.pagination button:not(:disabled) .st0 {
    fill: black;
}

.pagination {
    display: table;
}

.pagination>* {
    display: table-cell;
    vertical-align: middle;
    margin-left: 5px;
}

.pagination button>svg {
    width: 16px;
    height: 16px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.category-title {
    font-size: 23px;
    text-align: center;
    letter-spacing: .2px;
    color: black;
}

@media(min-width: 767px) {
    .category-title {
         max-width: 400px;
    }
}

.number-of-items {
    text-align: center;
    font-size: 17px;
}

.product-item {
    border-bottom: solid 2px rgb(236, 236, 236);
    padding: 20px 0;
    position: relative;
    text-align: center;
    margin: auto;
}

.price-container:not(.price) {
    font-weight: 800;
    font-size: 14px;
}

.price {
    font-family: 'bitter', sans-serif;
    font-weight: bold;
    font-size: 22px;
}

.hire-for-only {
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 14px;
    letter-spacing: .5px;
}

.variations-available {
    margin-top: 10px;
    display: block;
    font-size: 14px;
}

.color-logo,
.size-logo {
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 10px;
}

.item-description {
    margin: 0;
    line-height: 1.15;
    font-size: 16px;
}

.price-container {
    margin: 0;
    font-size: 15px;
    font-weight: 600;
}

.item-title {
    margin-bottom: 5px;
    margin-top: 8px;;
    font-size: 19px;
}

.blog-banner {
    display: none;
}

.breadcrumbs,
.breadcrumbs a {
    font-size: 12px;
    color: black;
   
}

.breadcrumbs a:hover {
    text-decoration: underline;
}

.category-description {
    line-height: 1.25;
    font-size: 17px;
    text-align: center;
}

.top-bar select {
    width: 114px;
    height: 45px;
}

.sidebar a:hover {
    text-decoration: underline;
}

.sidebar-title-container {
    position: sticky;
    top: 0;
}

.select-container label {
    margin-right: 5px;
}

@media (min-width: 767px) {
    .bar,
    .top-bar,
    .bottom-bar {
        font-size: 14px;
    }
    .sidebar li a {
        font-size: 15px;
    }
    .select-container label {
        margin-right: 10px;
    }
    .sidebar h2 {
        font-weight: 600;
        font-size: 18px;
        margin-bottom: 15px;
        font-family: 'Source Sans Pro', arial, san-serif;
    }
    .category-title,
    .number-of-items,
    .category-description {
        text-align: left;
    }
    .product-image:hover~.item-title,
    .item-title:hover {
        text-decoration: underline;
    }
    .product-image {
        margin-top: 13px;
    }
    .color-logo,
    .size-logo {
        padding-left: 0;
        padding-right: 20px;
    }
    .sidenote {
        display: block;
        max-width: initial;
        background-color: #E5ECF5;
        border-left: solid 8px #164E8C;
        border-radius: 7px;
        padding: 15px 20px;
        text-align: center;
    }

 .sidenote-container {
        position: absolute;
        right: 0;
        top: 0; 
    }

    .sidenote p {
        line-height: 1;
        font-size: 14px;
    }
    .sidenote>h2 {
        color: #4c4c4c;
        font-weight: 600;
        margin-bottom: 5px;
        font-size: 16px;
    }
    .sidenote>* {
        margin: 0;
    }
    .product-item:before {
        content: "";
        position: absolute;
        top: 5%;
        right: 0;
        height: 90%;
        width: 2px;
        background-color: rgb(236, 236, 236);
    }
.product-item:last-of-type:before {
    background-color: transparent;
}

    .product-item {
        text-align: left;
        vertical-align: top;
        padding: 20px 30px;
    }
    .blog-banner {
        display: block;
        background-image: url('../images-static/blog-banner.jpg');
        margin: auto;
        min-height: 100px;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .banner-inner {
        width: 55%;
        position: absolute;
        right: 30px;
        text-align: center;
        top: 50%;
        transform: translateY(-50%);
    }
    .banner-text {
        margin: 0;
        font-size: 15px;
    }
    .banner-title {
        font-weight: normal;
        margin-top: 0;
        margin-bottom: 2px;
        font-size: 23px;
        color: black;
    }
    .banner-link {
        width: fit-content;
    }
    .top-bar select {
        width: 154px;
        padding-left: 11px;
        height: 36px;
        background-position: right 0px top 2px;
    }
}

@media (min-width: 1200px) {
   
    .banner-title {
        font-size: 24px;
    }
    .banner-text {
        font-size: 16px;
    }
}


/* STYLES FOR HEADER */

#close-menu span {
    position: relative;
    top: 2px;
}

.header-top-wrapper {
    height: 58px;
}

.header-top {
    height: 58px;
}

#fixed-header {
    max-width: 100vw;
}

.fixed-header-inner {
    font-size: 0;
    display: flex;
    width: 100%;
    max-width: 100vw;
}

.basket-container {
    position: relative;
    width: 30px;
    vertical-align: middle;
    margin: auto;
}

.number-in-basket {
    background-color: rgb(184, 156, 82);
    border-radius: 50%;
    top: 5px;
    left: -10px;
    position: absolute;
    width: 1.5em;
    height: 1.5em;
    display: block;
    color: black;
    font-weight: 600;
    font-size: .9rem;
    text-align: center;
    line-height: 1.5;
}


/* hide the default browser search-clearingg button */

::-webkit-search-cancel-button {
    -webkit-appearance: none;
}


/* add my own button :) */

.search-bar button[type="reset"] {
    background-color: transparent;
    height: 100%;
    width: 20px;
    position: absolute;
    right: 54px;
    background-image: url(../images-static/cancel-search.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 22px;
}

.search-bar input:not(:valid)~button[type="reset"] {
    display: none;
}

button[type="reset"]:focus {
    outline: none;
}

.search-bar input {
    font-size: 16px;
}

#fixed-header {
    margin-bottom: 25px;
}

.fixed-header-inner {
    max-width: 1200px;
    position: relative;
    margin: auto;
}

.magnify-in-bar {
    position: absolute !important;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.sticky {
    position: sticky;
    top: 0;
}

.basket-large-screen {
    display: none;
}

.main-menu {
    /* position: absolute !important; */
}

.search-bar {
    position: absolute;
}

.search-bar-mobile {
     position: sticky;
    top: 52px;
}

nav {
    /* display: flex; */
}

.search-inner {
    font-size: 0;
    letter-spacing: 0;
    word-spacing: 0;
}

.search-inner>* {
    display: inline-block;
    vertical-align: top;
}

.header-top {
    position: relative;
}

@media (max-width: 1200px) {
    .header-top {
        margin-left: 22px;
        margin-right: 22px;
    }
}

@media (min-width: 1200px) {
    .header-top {
        max-width: 1200px;
        margin: auto;
    }
    .strapline {
        font-size: 14px;
    }
}

@media (min-width: 1200px) {
    .header-top {
        padding-left: 0;
        padding-right: 0;
    }
}

.header-top-wrapper {
    background-color: rgb(208, 209, 211);
}

.strapline {
    text-align: right;
    max-width: 210px;
    right: 0;
    position: absolute;
    width: 55%;
    display: inline-block;
    margin-left: auto;
    font-size: 12px;
    color: rgb(118, 119, 120);
    font-family: 'bitter', sans-serif;
}

.duet-logo {
    width: 115px;
    height: 35px;
    display: inline-block;
    bottom: 10px;
    position: absolute;
}

.hamburger {
   
    border-radius: 0;
    height: 52px;
    vertical-align: top;
    padding-left: 22px;
    padding-right: 22px;
    letter-spacing: .45px;
    cursor: pointer;
    text-transform: none;
    font-size: 18px;
       background-color: #0E4D8D;
    color: white;
    border: 0;
    margin: 0;
    white-space: nowrap;
}

.hamburger svg {
    width: 25px;
    height: 15px;
    margin-right: 5px;
}

.btn-text {
    display: inline-block;
    text-align: left;
}

.search-btn {
    background-color: rgb(236, 236, 236) !important;
    /* flex: 2 1; */
    padding: 0 !important;
    border-radius: 0 !important;
    /* width: calc(50% - 95px);*/
    flex: 4;
    height: 52px;
}

#fixed-header {
    font-size: 0;
}

.search-bar {
    width: 100%;
    background-color: rgb(236, 236, 236);
    /* position: absolute;*/
}

.magnify {
    width: 20px;
    position: relative;
    fill: rgb(96, 104, 110);
}

.basket {
    background-color: rgb(192, 193, 195);
    /* flex: 3 1; */
    text-align: center;
    align-items: center;
    justify-content: center;
    /* width: calc(50% - 94.5px);*/
    /*display: inline-table;*/
    height: 52px;
    vertical-align: top;
    flex: 5;
}

.basket svg {
    vertical-align: middle;
    display: table-cell;
    margin: auto;
    height: 52px;
    width: 30px;
}

.chevron {
    width: 1em;
    height: 1em;
    position: absolute;
    right: 5px;
    top: .75em;
    margin: auto;
    fill: rgb(96, 100, 102);
    stroke-width: 1px;
    transition: .3s;
    margin-right: 8px;
    padding-left: 1px;
    padding-right: 1px;
    background-color: transparent !important;
}

.blue-background .chevron {
    transform: rotate(180deg);
}

.closed {
    transform: translate3d(-200vw, 0, 0);
}

.dropdown-content {
    height: auto;
    max-height: 0;
    overflow: hidden;
    transition-timing-function: cubic-bezier(1.000, 0.040, 0.215, 1.035);
    /* transform: scaleY(0);*/
}

#close-menu {
    font-size: 18px;
    background-color: rgb(13, 77, 141);
    text-align: right;
    position: sticky;
    top: 0;
    z-index: 105;
}

#close-menu button {
    margin-top: 10px;
    margin-bottom: 9px;
    background-color: transparent;
    color: white;
    padding: 0;
    padding-right: 7px;
}

#close-menu button:hover {
    background-color: transparent;
}

.close-sidebar {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    background-color: transparent;
}

.close-sidebar svg {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.blue-background~.dropdown-content {
    position: static;
    /*transform: scaleY(1);*/
    max-height: 400px;
}

.dropdown {
    background-color: #e3ebf3;
}

.main-menu {
    margin: 0;
    transform-origin: top;
    transition: .4s;
    overflow-y: scroll;
    /* 53 PIXELS IS THE HEIGHT OF THE FIXED HEADER!!!!!! IMPORTANT!!!! 
    max-height: calc(100vh - 53px);
     max-height: calc(100vh - 112px); /* width of sticky top bar */
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
    position: fixed !important;
    z-index: 103;
    width: 100%;
    background-color: white;
    background-color: rgba(0, 0, 0, .5);
}

.drop-btn {
    background-color: rgb(227, 235, 243);
    position: relative;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    border-bottom: rgb(192, 197, 200) solid 1px;
}

.dropdown-content {
    /*transition: transform .6s;*/
    transform-origin: top;
    /*   transition: max-height .6s;
    transition-timing-function: ease-in-out; */
}

.dropdown-content a {
    display: block;
    width: 100%;
    min-width: max-content;
    background-color: rgb(255, 255, 255);
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: solid rgb(192, 197, 200) 1px;
    font-size: initial !important;
    -webkit-text-size-adjust: none;
    /* SOLVES WEIRD FONT SIZING PROBLEM ON IPHONE!! */
}

.blue-background {
    background-color: rgb(202, 216, 229);
}

.blur-filter {
    filter: brightness(60%);
}

header a:hover,
footer a:hover {
    text-decoration: underline;
}

.search-inner {
    position: relative;
    margin: auto;
}

.search-inner button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    position: relative;
}

.search-inner button img {
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    width: 22px;
}

.search-inner input {
    height: 100%;
}

.search-inner button,
.search-inner input {
    height: 35px;
}

.main-menu a {
    color: black;
}

.main-menu a:hover {
    color: rgb(14, 77, 141);
}

.search-inner {
    text-align: center;
}

a.basket:hover svg {
    fill: #0E4D8D !important;
}

@media (min-width: 768px) {

    a.basket-large-screen:hover svg {
        fill: #0E4D8D !important;
    }
    .search-inner {
        text-align: right;
    }
    .search-bar {
        background-color: transparent;
    }
    .basket {
        display: none;
    }
    .search-btn {
        display: none;
    }
    .search-bar {
        display: inline-block !important;
        right: 0;
        vertical-align: top;
    }
    .search-bar input {
        max-width: 400px;
        padding-left: 10px;
    }
    .search-inner {
        width: 60%;
        position: absolute;
        right: 0;
        margin-left: auto;
    }
    .strapline {
        font-size: 15px;
        max-width: none;
        width: auto;
        margin-left: 20px;
        margin-RIGHT: auto;
        bottom: -7px;
        left: 160px;
    }
    .duet-logo {
        width: 130px;
    }
    .header-top {
        padding-top: 10px;
        padding-bottom: 1px;
    }
    .basket-large-screen {
        display: inline-block;
        position: absolute;
        right: 0;
        width: 66px;
        top: 15px;
    }
    a.basket-large-screen svg {
        width: 66px;
        height: 33px;
    }
}


/* MEDIA QUERIES */

@media (min-width: 1000px) {
    #fixed-header {
        position: relative;
    }
}


/* END OF MEDIA QUERIES */

@media(min-width: 1200px) {
    .main-menu {
        height: auto;
        background-color: transparent;
    }
    #close-menu {
        display: none;
    }
    .dropdown-content {
        width: max-content;
        padding-right: 25px;
    }
    .hamburger {
        display: none !important;
    }
    .chevron {
        display: none;
    }
    .drop-btn {
        padding-top: 18px;
        padding-bottom: 12px;
        font-size: 16px;
    }
    .closed {
        transform: scaleY(1);
    }
    .main-menu {
        overflow: visible;
        max-width: 50%;
        padding-bottom: 0;
    }
    .dropdown-content {
        position: absolute !important;
    }
    .dropdown-content a {
        border-bottom: none;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .dropdown-content a:hover {
        text-decoration: underline;
    }
    .dropdown {
        display: table-cell;
    }
    .main-menu {
        display: inline-table !important;
    }
    .drop-btn {
        background-color: transparent;
        width: initial !important;
        display: inline-block;
        padding-left: 0;
        padding-right: 0;
        border-bottom: none;
        margin-right: 29px;
        white-space: nowrap;
    }
    .search-bar {
        background-color: transparent;
        max-width: 35%;
        margin-left: auto;
    }
    .dropdown {
        background-color: transparent;
    }
}

@media(min-width: 1200px) {
    .search-bar {
        max-width: 45%;
    }
    .dropdown-content a:first-of-type {
        display: none;
    }
    .dropdown:hover .dropdown-content,  .dropdown:focus .dropdown-content {
        max-height: 400px;
        border: solid rgb(190, 190, 190) 1px;
        border-radius: 0 0 4px 4px;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: white;
        z-index: 200;
        transform: scaleY(1);
    }

    
    .dropdown:hover .drop-btn {
        border-bottom: solid rgb(19, 72, 135) 5px;
        color: rgb(14, 77, 141);
    }
    .drop-btn {
        border-bottom: solid 5px transparent;
    }
    .dropdown:hover {
        z-index: 200;
    }
    .main-menu {
        position: static !important;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .search-bar {
        margin-right: 20px;
    }
    .search-inner {
        top: 8.5px;
    }
    .fixed-header-inner {
        margin-right: 22px;
    }
}

@media (max-width: 768px) {
    .dropdown:last-of-type {
        margin-bottom: 65px;
    }
}


/* STYLES FOR FOOTER */

footer {
    margin-top: 50px;
    clear: both;
}

footer svg {
    width: 40px;
    height: 50px;
}

footer ul a {
    line-height: 0;
}

.small-links>* {
    display: block;
    
}

.small-links a {
    line-height: 0;
}

.small-links small {
    line-height: 1.4;
}

.small-links {
    text-align: center;
    padding-left: 22px;
    padding-right: 22px;
    max-width: 1200px;
    margin: 10px auto;
}

nav {
    background-color: rgb(236, 236, 236);
    z-index: 100;
}

footer nav a {
    display: block;
    padding-top: 16px;
    padding-bottom: 15px;
    color: black;
    text-align: center;
    border-bottom: white solid 1px;
}

.fbook:hover>.st0 {
    fill: rgb(104, 136, 212);
}

.tweeter:hover>.st0 {
    fill: rgb(112, 209, 251);
}

.search-bar {
    padding-top: 13px;
    padding-bottom: 13px;
    z-index: 100;
}

.search-bar input {
    width: calc(100% - 45px);
    border: 0;
    padding-left: 15px;
}


/*to remove IE default style */

a img {
    border: 0;
}

@media (max-width: 767px) {
    nav {
        background-color: transparent;
    }

    .footer-nav {
        width: 100%;
        text-align: center;
    }
    .footer-nav li:not(.face):not(.twit) {
        width: 100%;
        text-align: center;
        background-color: rgb(236, 236, 236);
    }
    footer svg {
        width: 60px;
        height: 60px;
    }
}

@media (min-width: 768px) {
    footer ul {
        display: table;
        
        list-style-type: none;
    }
    footer ul>* {
        vertical-align: middle;
    }
    .twit {
        margin-right: 0;
    }

    .footer-nav a {
        font-size: 17px;
    }
    footer nav a {
        border-bottom: none;
    }
    nav a {
        border-bottom: none;
    }
    .small-links {
        text-align: left;
    }
    .small-links small {
        font-size: 13px;
    }
   /* @supports (display: flex) { */
        footer ul {
            display: inline-flex;
            align-items: center;
            max-width: 1200px;
        }
        .social-links {
            display: inline-block;
            width: 100px;
            margin-left: auto;
        }

        .footer-nav {
         width: 360px;
        }
    }
    .small-links>* {
        display: inline-block;
        padding-right: 15px;
    }
/*} */


/* MESSAGE FOR OLD IE*/

.message {
    position: fixed;
    margin: auto;
    left: 50%;
    margin-left: -300px;
    top: 0;
    max-width: 600px;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: white;
    border: solid;
}

.none {
    display: none;
}

@media (max-width: 1200px) {
    .dropdown-content {
        transition: max-height .3s;
    }
}

.search-bar-mobile {
    position: absolute;
}


@media (max-width: 767px) {

    footer nav {
        flex-direction: column;
    }

    .fixed-for-popup-on-small-screen {
       /* position: fixed; */
    }

    #fixed-header {
        position: sticky;
        top: 0;
    }
    .search-bar-desktop {
        display: none !important;
    }
    .search-bar-mobile {
        display: block;
    }
    .strapline {
        right: 0;
    }
    .search-bar {
    padding-top: 15px;
    padding-bottom: 15px;
}

.search-inner button,
.search-inner input {
    height: 40px;
}

.strapline {
        top: 2px;
}
}

@media (min-width: 767px) {
    .search-bar-desktop {
        display: block !important;
    }
    .search-bar-mobile {
        display: none !important;
    }
    .strapline {
        right: initial;
        margin: 0;
        bottom: 11px;
    }
}

::placeholder {
color: rgb(200, 200, 200);
}

.search-btn:focus {
    outline: none;
}

/* JS CLASSES*/

.display-none {
    display: none;
}

.main-button {
    background-color: rgb(14, 77, 141);;
    color: white;
    padding: 10px 30px;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 17px;
}

.main-button:hover {
    background-color: rgb(24, 97, 191);
}

a:hover, a:focus {
    text-decoration: underline;
}

.none {
    display: none;
}

.maincontainer {
    background-color: white;
}

/* LISTS */

ol ol {
    list-style-type: lower-alpha;
}

ol ol ol {
    list-style-type: lower-roman;
}


.terms * {
    font-size: 17px;
}

.terms h2, .terms h3 {
    font-weight: bold;
    font-family: 'Source Sans Pro', arial, san-serif;
    color: black;
}

.terms {
    max-width: 670px;
}
.terms ol {
    font-weight: bold;
}

.terms ol ol, .terms ol p, .term ul p {
    font-weight: normal;
}

.terms h1 {
    letter-spacing: .75px;
    color: #0e4d8d;
    font-family: 'bitter', sans-serif;
    margin-bottom: 5px;
    font-size: 42px;
}

.terms ul, .terms ol {
    list-style-position: inside;
}

li h2, li h3 {
    display: inline;
}

.terms li p, .terms li ol, .terms li ul {
    margin-top: 20px;
    margin-bottom: 20px;
}

.terms ol {
    padding-left: 0;
}

.terms ol ol {
    padding-left: 0;
}

.terms ol ol ol {
    padding-left: 15px;
}

.pswp__img {
    object-fit: contain;
}

ol ol {
    list-style-type: none;
}

ol ol  li {
    counter-increment: alpha-bracket;
}

ol ol li:before {
content: counter(alpha-bracket, lower-alpha) ") ";
}

ol ol ol {
    list-style-type: none;
}

ol ol ol li {
    counter-increment: roman-bracket;
}

ol ol ol li:before {
content: counter(roman-bracket, lower-roman) ") ";
}

.font-size-19 {
    font-size: 19px;
}

.privacy ul {
    list-style-position: outside;
    margin-left: 21px;
}

.cookie-monster {
    background-color: rgba(0, 0, 0, .8);
    color: white;
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 230px;
    height: 180px;
    padding: 15px;
    font-size: 14px;
    border-radius: 8px;
    transform-origin: bottom;
    z-index: 201;
}

@media (max-width: 400px) {
    .cookie-monster {
        margin: auto;
        left: 20px;
    }
}

.cookie-monster a {
    color: white;
    font-size: 14px;
    text-decoration: underline;
}

.cookie-monster button {
    background-color: rgb(243, 218, 0);
    margin: auto;
    display: block;
    margin-top: 10px;
    margin-bottom: 15px;
}

.cookie-monster button:hover {
    background-color: rgb(200, 200, 200);
} 

@media (min-width: 767px) and (max-width: 1200px) {
    .search-bar {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.grid-container .grid img:first-child {
    width: 100%;
    max-height: 250px;
    object-fit: contain;
}

@media (min-width: 1200px) {
    .footer-nav, .small-links {
        padding-left: 0;
    padding-right: 0;
    }
}

.search-inner button {
    background-color: rgb(13, 77, 141);
}

.search-bar-mobile {
    left: 0;
}


@media (max-width: 767px) {
    .search-inner {
        width: 90%;
    }
}

.search-bar button:hover {
    background-color: rgb(24, 97, 191);
}

.sidebar {
    z-index: 102;
    overflow-y: auto;
}

header .close-sidebar {
    position: static;
}

.sub-categories-btn {
    align-self: flex-end;
}

.select-container {
    text-align: center;
    width: 114px;
}

.main-menu .close-sidebar {
    position: static;
}

@media (min-width: 767px) {
    .select-container {
        width: auto !important;
    }
    .bottom-bar {
        justify-content: flex-end;
    }
    .bottom-bar .pagination {
    margin-left: 40px;
}
}

.accordion-hdg + li hr,  .accordion-opt + li hr {
    margin-top: 15px;
}

.sidebar-showing ul {
    padding-bottom: 50px;
}

.bottom-bar {
        display: flex;
    align-items: center;
}

.flex-list {
    display: inline-flex;
    justify-content: space-between;
    min-width: 295px;
    max-width: 310px;
    margin-left: auto;
}



.small-links {
    display: flex;
    align-items: center;
}

.footer-nav * {
    display: inline-block;
}

@media (max-width: 767px) {

    .flex-list {
       display: grid;
       grid-template-columns: repeat(3, 1fr);
       justify-content: center;
       margin: auto;
       grid-column-gap: 10px;
       align-items: center;
       justify-items: center;
       margin-top: 15px;
    }

    .footer-nav a {
     padding-top: 26px;
    padding-bottom: 25px;
    }

    .small-links > small {
         margin-top: 20px;
    }

    .small-links {
    flex-direction: column;
    }

    .subscribe-button-inner {
    order: -1;
    text-align: center;
    margin: auto;
}
}

nav ul {
    list-style-type: none;
}

@media (min-width: 767px) {
    footer nav {
        font-size: 0;
    }
    .footer-nav {
    justify-content: space-between;
    }

      .subscribe-button-inner {
      margin-left: auto !important;
  }

  .flex-list {
  width: 45%;
  }
}

@media (min-width: 900px) {
      .flex-list {
  width: 30%;
  }
}

footer nav {
    padding: 0 calc(50% - 600px);
    display: flex;
}

@media (min-width: 767px) and (max-width: 1200px) {
    footer nav {
        padding-left: 20px;
    padding-right: 20px;
    }
}

.product-item a:focus {
    outline: none;
}


.flex-list .cls-2 {
        transition: all .2s ease-out;
        transform-origin: center;
}

.flex-list svg:hover .cls-2, .flex-list a:focus .cls-2 {
    transform: scale(1.3);
}

.basket-grid img:first-child {
    width: initial;
}


footer circle { transition: all .2s ease-out; }
.flex-list a:not(:hover):not(:focus) circle {
fill: rgb(188, 188, 188);
}




footer nav a {
    width: 100%;
}

.question svg {
    margin-right: 5px;
}


.fixed-for-popup-on-small-screen:after {
    content: "";
    background-color: rgba(0,0,0,.5);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 101;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
} 


select {
width: fit-content !important;
padding-right: 28px !important;
max-width: 100%;
}