* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    background-color: white;
}

small {
    font-size: 15px;
}

option[disabled] {
    display: none;
}

select {
    background-color: white;
    width: 120px;
    padding: 5px 35px 5px 5px;
    height: 36px;
    border: solid rgb(200, 200, 200) 1px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url(../images-static/select_icon.svg);
    background-repeat: no-repeat;
    background-position: right 0px top 4px;
}


/* CAUTION: IE hackery ahead */
select::-ms-expand {
    display: none; /* remove default arrow in IE 10 and 11 */
}

/* suppress default touch action like double-tap zoom

a,
button {
    -ms-touch-action: none;
    touch-action: none;
}  */

a {
    text-decoration: none;
    color: rgb(14, 77, 141);
    ;
}

input,
textarea {
    min-height: 33px;
    border: solid rgb(200, 200, 200) 1px;
}

.faq,
.contact,
.about {
    color: rgb(51, 51, 51);
}

input:-webkit-autofill {
    background-color: none;
}

html {
    font-family: 'Source Sans Pro', arial, san-serif;
}

input,
button,
select,
blockquote,
cite {
    font-size: inherit;
    font-family: inherit;
}

input,
textarea {
    border-radius: 0;
    box-shadow: none;
}

input:not([type=checkbox]):not([type=radio]),
textarea {
    -webkit-appearance: none;
}

textarea {
    resize: none;
    font-size: 1em;
}

button:hover:not(.hamburger) {
    cursor: pointer;
    background-color: rgb(24, 97, 191);
}

button:not(.hamburger) {
    border: none;
    border-radius: 6px;
    padding: .5rem 1.25rem;
    color: white;
    background-color: rgb(13, 77, 141);
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 0;
    padding-left: 22px;
    padding-right: 22px;
    box-sizing: content-box;
    background-color: white;
}


/*
@media (max-width: 1200px) {
.wrapper {
padding-left: 22px;
    padding-right: 22px;
}
}
*/


/* THE TOP MARGIN OF THIS ELEMENT WILL INTERFERE WITH THE BLUR FILTER SO MUST BE REMOVED*/

.wrapper> :first-child {
    margin-top: 0;
}

p,
a {
    font-size: 18px;
    line-height: 1.4;
}

h1 {
    letter-spacing: 1px;
    color: #0e4d8d;
    font-family: 'bitter', sans-serif;
    margin-bottom: 5px;
    font-size: 42px;
}

.main-subheading {
    color: rgb(77, 77, 77);
    letter-spacing: .35px;
    font-size: 20px;
}

h2 {
    font-family: 'bitter', sans-serif;
    color: #0e4d8d;
    line-height: 1.25;
    font-weight: 400;
    font-size: 22px;
}

blockquote {
    background-color: rgb(230, 237, 245);
    border-left: solid 10px rgb(13, 77, 141);
    padding: 20px;
    margin: 0;
    font-size: 18px;
}

cite {
    font-style: normal;
    font-size: 18px;
}

blockquote,
cite {
    line-height: 1.4;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.blurfilter {
    filter: brightness(60%) blur(2px);
}

ul,
li {
    margin: 0;
    padding: 0;
}

@media (min-width: 768px) {
    a[href^="tel"] {
        color: inherit;
        cursor: default;
        pointer-events: none;
    }
}


/* STYLES FOR IE 8 */

p,
blockquote,
h1,
h2,
h3,
h4,
h5,
h6,
cite {
    max-width: 800px;
}

input,
textarea,
button {
    max-width: 768px;
}


/* STYLES FOR HEADER */

.magnify-in-bar {
    position: absolute !important;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.sticky {
    position: sticky;
    top: 0;
}

.basket-large-screen {
    display: none;
}

.main-menu {
    position: absolute !important;
}

.search-bar {
    position: absolute;
}

nav {
    /* display: flex; */
}

.search-inner {
    font-size: 0;
    letter-spacing: 0;
    word-spacing: 0;
    text-align: center;
}

.search-inner>* {
    display: inline-block;
    vertical-align: top;
}

.header-top {
    padding-left: 22px;
    padding-right: 22px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    align-items: center;
}


@media (max-width: 767px) {
    #fixed-header {
       position: sticky;
       top: 0;
    }
}

@media (min-width: 1200px) {
    .header-top {
        padding-left: 0;
        padding-right: 0;
    }
}

.header-top-wrapper {
    background-color: rgb(208, 209, 211);
}

.strapline {
    text-align: right;
    max-width: 210px;
    width: 55%;
    display: inline-block;
    margin-left: auto;
    font-size: 12px;
    color: rgb(118, 119, 120);
    font-family: 'bitter', sans-serif;
}

.duet-logo {
    width: 115px;
    height: 50px;
    display: inline-block;
}

.hamburger {
    /*  flex: 6; */
    background-color: rgb(13, 77, 141);
    width: 55%;
    height: 59px;
    vertical-align: top;
}

.btn-text {
    width: 112px;
    display: inline-block;
    text-align: left;
}

.search-btn {
    background-color: rgb(236, 236, 236) !important;
    /* flex: 2 1; */
    padding: 0 !important;
    border-radius: 0 !important;
    width: 20%;
    height: 59px;
}

#fixed-header {
    font-size: 0;
}

.search-bar {
    width: 100%;
    background-color: rgb(222, 222, 224);
    position: absolute;
}

.magnify {
    width: 20px;
    position: relative;
}

.basket {
    background-color: rgb(192, 193, 195);
    /* flex: 3 1; */
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 25%;
    display: inline-table;
    height: 59px;
    vertical-align: top;
}

.basket svg {
    vertical-align: middle;
    display: table-cell;
    margin: auto;
    height: 100%;
}

.chevron {
    width: 1em;
    height: 1em;
    position: absolute;
    right: 5px;
    top: .75em;
    margin: auto;
    fill: rgb(96, 100, 102);
    stroke-width: 1px;
    transition: .5s;
    margin-right: 8px;
    padding-left: 1px;
    padding-right: 1px;
    background-color: transparent !important;

}

.blue-background .chevron {
    transform: rotate(180deg);
}

.closed {
    transform: scaleY(0);
}

.dropdown-content {
    height: auto;
    max-height: 0;
    overflow: hidden;
    transition-timing-function: cubic-bezier(1.000, 0.040, 0.215, 1.035);
    position: absolute;
   /* transform: scaleY(0);*/
}

.blue-background ~ .dropdown-content {
    position: static;
    /*transform: scaleY(1);*/
     max-height: 400px;
}

.dropdown {
    background-color: #e3ebf3;
}

.main-menu {
    margin: 0;
    transform-origin: top;
    transition: .4s;
    overflow-y: scroll;
    /* 53 PIXELS IS THE HEIGHT OF THE FIXED HEADER!!!!!! IMPORTANT!!!! */
    max-height: calc(100vh - 53px);
    /*  padding-bottom: 44px;*/
    z-index: 100;
}

.drop-btn {
    background-color: rgb(227, 235, 243);
    position: relative;
    width: 215px;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    border-bottom: rgb(192, 197, 200) solid 1px;
}

.dropdown-content {
    /*transition: transform .6s;*/
    transition: max-height .6s;
    transform-origin: top;
    transition-timing-function: ease-in-out;
}

.dropdown-content a {
    display: block;
    width: 215px;
    min-width: max-content;
    background-color: rgb(255, 255, 255);
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: solid rgb(192, 197, 200) 1px;
    font-size: initial !important;
    -webkit-text-size-adjust: none;
    /* SOLVES WEIRD FONT SIZING PROBLEM ON IPHONE!! */
}

.blue-background {
    background-color: rgb(202, 216, 229);
}

.blur-filter {
    filter: brightness(60%);
}

header a:hover,
footer a:hover {
    text-decoration: underline;
}

.search-inner {
    position: relative;
    width: 90%;
    margin: auto;
}

.search-inner button {
    width: 10%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    position: relative;
}

.search-inner button img {
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    width: 22px;
}

.search-inner input {
    height: 100%;
}

.search-inner button,
.search-inner input {
    height: 35px;
}

.main-menu a {
    color: black;
}

.main-menu a:hover {
    color: rgb(14, 77, 141);
}

@media (min-width: 768px) {
    .basket {
        display: none;
    }
    .search-btn {
        display: none;
    }
    .search-bar {
        display: inline-block;
        position: initial !important;
        width: 65%;
        vertical-align: top;
    }
    .search-bar input {
        max-width: 300px;
        padding-left: 10px;
    }
    .hamburger {
        width: 35%;
    }
    .search-inner {
        width: 40%;
        position: absolute;
        right: 0;
        margin-left: auto;
    }
    .strapline {
        font-size: 16px;
        max-width: none;
        width: auto;
        margin-left: 20px;
        margin-RIGHT: auto;
        position: relative;
        bottom: -9px;
    }
    .duet-logo {
        width: 150px;
    }
    .header-top {
        padding-top: 15px;
        padding-bottom: 5px;
    }
    .basket-large-screen {
        display: inline-block;
    }
    a.basket-large-screen svg {
        width: 66px;
        height: 33px;
    }
}


/* MEDIA QUERIES */

@media (min-width: 1000px) {
    #fixed-header {
        padding-left: 22px;
        padding-right: 22px;
        position: relative;
    }
}


/* END OF MEDIA QUERIES */

@media(min-width: 1200px) {
    .hamburger {
        display: none !important;
    }
    .chevron {
        display: none;
    }
    .drop-btn {
        padding-top: 20px;
        padding-bottom: 15px;
    }
    #fixed-header {
        padding: 0 calc(50% - 600px);
    }
    .closed {
        transform: scaleY(1);
    }
    .main-menu {
        overflow: visible;
        max-width: 50%;
        padding-bottom: 0;
    }
    .dropdown-content a {
        border-bottom: none;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .dropdown-content a:hover {
        text-decoration: underline;
    }
    .dropdown {
        display: table-cell;
    }
    .main-menu {
        display: inline-table !important;
    }
    .drop-btn {
        background-color: transparent;
        width: initial !important;
        display: inline-block;
        padding-left: 0;
        padding-right: 0;
        border-bottom: none;
        padding-right: 20px;
        white-space: nowrap;
    }
    .search-bar {
        background-color: transparent;
        max-width: 35%;
        margin-left: auto;
    }
    .dropdown-content {
        position: absolute;
    }
    .dropdown {
        background-color: transparent;
    }
}

@media(min-width: 1200px) {
    .search-bar {
        max-width: 45%;
    }
}

@media(min-width: 1200px) {
    .dropdown:hover .dropdown-content {
        max-height: 400px;
        border: solid rgb(190, 190, 190) 1px;
        border-radius: 0 0 4px 4px;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: white;
        z-index: 200;
        transform: scaleY(1);
    }
    .dropdown:hover .drop-btn {
        border-bottom: solid rgb(19, 72, 135) 5px;
        color: rgb(14, 77, 141);
    }
    .drop-btn {
        border-bottom: solid 5px transparent;
    }
    .dropdown:hover {
        z-index: 200;
    }
    .main-menu {
        position: static !important;
    }
}


/* STYLES FOR FOOTER */

footer {
    margin-top: 50px;
    margin-bottom: 20px;
    clear: both;
}

footer svg {
    width: 50px;
    height: 50px;
}

footer ul a {
    line-height: 0;
}

.small-links>* {
    display: block;
    margin-top: 10px;
}

.face {
    margin-left: auto;
}

.small-links {
    text-align: center;
    padding-left: 22px;
    padding-right: 22px;
    max-width: 1200px;
    margin: auto;
}

nav {
    background-color: rgb(236, 236, 236);
    z-index: 100;
}

footer nav a {
    display: block;
    padding-top: 16px;
    padding-bottom: 15px;
    color: black;
    text-align: center;
    border-bottom: white solid 1px;
}

.fbook:hover>.st0 {
    fill: rgb(104, 136, 212);
}

.tweeter:hover>.st0 {
    fill: rgb(112, 209, 251);
}

.search-bar {
    padding-top: 12px;
    padding-bottom: 12px;
    z-index: 100;
}

.search-bar input {
    width: 80%;
    border: 0;
}


/*to remove IE default style */

a img {
    border: 0;
}

@media (max-width: 767px) {
    nav {
        background-color: transparent;
    }
    .face,
    .twit {
        background-color: white;
        width: 70px !important;
        text-align: center;
        margin: auto;
        display: inline-table;
    }
    .face>a,
    .twit>a {
        display: table-cell;
        margin: auto;
        padding-top: 26px;
    }
    .footer-nav {
        width: 100%;
        text-align: center;
    }
    .footer-nav li:not(.face):not(.twit) {
        width: 100%;
        text-align: center;
        background-color: rgb(236, 236, 236);
    }
    footer svg {
        width: 60px;
        height: 60px;
    }
}

@media (min-width: 768px) {
    footer ul {
        display: table;
        width: 100%;
        padding-left: 22px;
        padding-right: 22px;
        list-style-type: none;
    }
    footer ul>* {
        display: table-cell;
        vertical-align: middle;
        margin-right: 40px;
    }
    .twit {
        margin-right: 0;
    }
    .face {
        margin-right: 15px;
    }
    .footer-nav a {
        font-size: 17px;
    }
    footer nav a {
        border-bottom: none;
    }
    nav a {
        border-bottom: none;
    }
    .small-links {
        text-align: left;
    }
    .small-links small {
        font-size: 13px;
    }
    @supports (display: flex) {
        footer ul {
            display: flex;
            max-width: 100%;
            align-items: center;
            max-width: 1200px;
            margin: auto;
        }

        footer ul>* {
            display: initial;
        }

        .social-links {
            display: inline-block;
            width: 100px;
            margin-left: auto;
        }
    }
    .small-links>* {
        display: inline-block;
        padding-right: 15px;
    }
}


/* MESSAGE FOR OLD IE*/

.message {
    position: fixed;
    margin: auto;
    left: 50%;
    margin-left: -300px;
    top: 0;
    max-width: 600px;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: white;
    border: solid;
}

.none {
    display: none;
}


/* JS CLASSES*/

.display-none {
    display: none;
}