body {
position: relative;
}

.sidebar h2 {
    color: black;
}

.sidebar a {
    color: black;
}

.search-title {
    font-size: 19px;
    text-align: center;
    color: black;
    letter-spacing: .2px;
}

.number-of-items {
    text-align: center;
}


.category-description,
.sidenote, .top-bar .pagination {
    display: none;
}

body .refine-results-btn {
    background-color: #E5ECF5;
    color: black;
    border: solid black 1px;
    font-size: 15PX;
    line-height: 1.1;
    padding: 4px 5px;
}

body .refine-results-btn:hover {
    background-color: #E5ECF5;
}

.refine-results-btn, .select-container {
display: inline-block;
}

.item-count {
    display: block;
    text-align: center;
    line-height: 1;
}

.top-bar {
    margin-top: 25px;
}

.sort-container {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

.category-description {
    line-height: 1.25;
}

.sidebar ul {
list-style-type: none;
}

.sidebar li {
    margin-top: 10px;
}

.product-image {
    max-width: 100%;
}

.product-image {
    max-width: 100%;
}

.bottom-bar {
    margin-left: auto;
    margin-top: 10px;
}

.bottom-bar {
    text-align: center;
    margin-top: 20px;
}
.pagination {
    margin-top: 25px;
}

@supports (display: flex) {
    .pagination {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .page-count {
        width: 100%;
        order: 1;
        margin-top: 15px;
    }
}


.refine-results-btn {
height: 45px;
}


/* MEDIA QUERIES  */

@media (max-width: 767px) {

     .select-container {
        float: right;
        margin-top: -21px;
    }
    
    .bottom-bar .page-count {
        display: block;
        margin-top: 25px;
    }

    .top-bar .page-count {
        display: none;
    }


    .item-count {
    margin-top: 20px;
}

    .close-sidebar {
    width: 35px;
        height: 35px;
        position: absolute;
        right: 10px;
        top: 14px;
}

    .sidebar {
        display: block;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        background-color: white;
        width: 100%;
        height: 100vh;
        overflow-y: scroll; 
        margin: 0;
        transform: translate3d(0, 101vh, 0);
        transition: transform .3s cubic-bezier(0, .52, 0, 1);
}
    .sidebar-showing {
        transform: translate3d(0, 0, 0);
        padding-bottom: 90px;
}

    .sidebar-showing h2 {
        font-family: 'Source Sans Pro', arial, san-serif;
        font-size: 17px;
}

li a {
    font-size: 16px;
}

.sidebar ul {
    padding-bottom: 10px;
}


    .sidebar ul, .sidebar h3, .sidebar h2 {
        padding-left: 20px;
}

    .sidebar li {
    padding-left: 15px;
}
    .sidebar h2 {
        margin: 0;
    background-color: rgb(230, 237, 245);
        border-bottom: solid gray 1px;
        padding-top: 20px;
        padding-bottom: 20px;
}
}

@media (min-width: 767px) and (max-width: 1200px) {
    .product-item:nth-child(4n+1):nth-last-child(-n+4),
    .product-item:nth-child(4n+1):nth-last-child(-n+4) ~ .product-item {
        border-bottom: none;
    }

    .bottom-bar {
        display: flex;
        align-items: center;
    }
    .bottom-bar .page-count {
        margin-left: auto;
    }
}

@media (min-width: 767px) {

    .font-size-zero {
        font-size: 0;
    }

    .sidebar-title-container {
    position: relative;
}

    .close-sidebar {
    display: none;
}

    .refine-results-btn {
        display: none;
    }

    .sort-container {
        margin-bottom: 0;
    }

    .top-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
    }

    .pagination {
        margin-top: 15px;
    }

    .sub-categories-btn {
        display: none;
    }

    .item-count {
        order: -1;
        text-align: left;
        display: inline-block;
    }

    .top-bar .pagination {
        display: table;
    }

    .search-title {
        font-size: 25px;
    }

    .bottom-bar, .search-title, .number-of-items {
        text-align: left;
    }
    .pagination {
        align-items: center;
        margin-top: 0;
    }

    .bottom-bar .pagination {
        float: right;
    }

    .page-count {
        width: auto;
        margin-top: 0;
        order: 0;
    }
    .sidebar {
        display: inline-block;
        vertical-align: top;
    }


    .sidebar ul {
        list-style-type: none;
        margin-bottom: 35px;
    }

    .sidebar a {
    font-size: 17px;
}


    .sidebar {
        width: 33%;
    }

     .grid-container {
    display: inline-block;
    overflow: hidden;
    }

    
    .grid {
     width: calc(100% + 60px);
     margin-left: -30px;
     margin-right: -30px;
    }

    .grid-container,
    .bottom-bar {
        width: 66%;
    }



    /* FALLBACK LAYOUT GOES FIRST! */
    .grid {
        display: inline-block;
        font-size: 0;
    }
    .product-item {
        width: 49%;
        display: inline-block;
        min-height: 615.51px
    }
    /* END OF FALLBACK CODE @ 767px */
    @supports (grid-row-gap: 5px) {
        .grid {
            display: inline-grid;
            grid-template-columns: repeat(2, 1fr);
        }
        .product-item {
            width: 100%;
            height: 100%;
            min-height: initial;
        }
    }
}

@media (min-width: 1200px) {
    /* FALLBACK LAYOUT GOES FIRST! */
    .product-item {
        width: 32%;
    }
    /* END OF FALLBACK CODE @ 1200px*/

    .product-item:nth-child(6n+1):nth-last-child(-n+6),
    .product-item:nth-child(6n+1):nth-last-child(-n+6)~.product-item {
        border-bottom: none;
    }

    .top-bar {
        max-width: 75%;
        margin-left: auto;
        margin-top: 30px;
    }

    .sidebar {
        width: 25%;
    }
    .grid-container,
    .bottom-bar {
        width: 75%;
    }




    @supports (grid-row-gap: 5px) {
        .grid {
            grid-template-columns: repeat(3, 1fr);
        }
        .product-item {
            width: 100%;
        }
    }

    /* ONLY STUFF THAT IS DIFFERENT FROM REGULAR RESULTS PAGE */

.bottom-bar {
    text-align:right;
}


.bottom-bar .item-count + .page-count {
    padding-left: 70px;
}
}

.page-count {
        padding-right: 10px;
    padding-left: 10px;
}

@media(min-width: 1200px) {
    .sidebar {
        margin-top: -45px;
    }
}

.font-size-zero h3 {
    font-size: 17px;
}

.refine-results li {
        max-width: 86%;
}